.dropdown{
    border-radius: 5px;

    &__header{
        color: white;
        background-color: #FF6060;
        display: flex;
        justify-content: space-between;
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 10px;
    }
    &__content{
        &__hidden{
            display: none;
        }
    }
}