.headband{

    display: flex;
    align-items: center;
    justify-content: space-between;

    &__logo{
        color: antiquewhite;
    }
    &__links{
        display: flex;
        gap: 26px;
    }
}

.scenic-header{
    &__cover{
       width: 100%; 
    } 
}