@use '../abstracts' as *;

.footband {
	background-color: $black;
	margin: 0 -20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 12dvw;

	&__logo {
		filter: contrast(0) brightness(10);
		width: 34%;
		padding: 10px;
	}
	&__rights {
		width: 34%;
		text-align: center;
	}
}

@media (min-width: $breakpoint1) {
	.footband {
		padding: 1.8dvw;
		margin: 0 -100px;

		&__logo {
			width: 10%;
			padding: 2.5dvw;
		}
		&__rights {
			font-size: 1.5dvw;
		}
	}
}
