@use '../abstracts' as *;

.headband {
	display: flex;
	align-items: center;
	justify-content: space-between;

	&__logo {
		width: min(40%, 200px);
	}
	&__links {
		display: flex;
		gap: 26px;
		font-size: min(4dvw, 24px);
		font-weight: 500;

		&__link {
			text-decoration: none;
			color: $black;

			&--active {
				text-decoration: underline;
				color: $black;
			}
		}
	}
}

@media (min-width: $breakpoint1) {
	.headband {
		&__logo {
			width: 15%;
			min-width: 200px;
		}
		&__links {
			gap: 40px;
			font-size: 24px;
		}
	}
}
