@use "../abstracts";

#root{
    @include abstracts.font-montserrat();
    max-width: 375px;
    margin: auto;
    padding-top: 20px;
    
    display: flex;
    flex-direction: column;
    gap: 27px;    
}